In [5]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import datetime

pełną dokumentację funkcji zrobi się później

In [6]:
t = 10000 ##żeby wykluczyć mało znane imiona i nazwiska

##imiona męskie i kobiece
im = pd.read_csv("IM.csv")
im = im[im["LICZBA WYSTĄPIEŃ"] > t] 
ik = pd.read_csv("IK.csv")
ik = ik[ik["LICZBA_WYSTĄPIEŃ"] > t]
ik = ik["IMIĘ_PIERWSZE"]
im = im["IMIĘ PIERWSZE"]

##nazwiska męskie i kobiece
nm = pd.read_csv("NM.csv")
nm = nm[nm["Liczba"] > t]
nk = pd.read_csv("NK.csv")
nk = nk[nk["Liczba"] > t]
nk = nk["Nazwisko aktualne"]
nm = nm["Nazwisko aktualne"]

ulice = pd.read_csv("ULIC.csv", sep=";")
ulice_jaworze = ulice.query('WOJ == 24 & POW == 2 & GMI == 6 & RODZ_GMI == 2') ##bo kod terytorialny jaworza to 24.2.6.2
ulice_jaworze = np.array(ulice_jaworze["NAZWA_1"]) ##i bierzemy ulice

##gry
gry = pd.read_csv("GRY.csv")
gry

,ID,NAZWA,RODZAJ,CENA,CZAS_GRY,MIN_GRACZY,MAX_GRACZY,MIN_WIEK,TURNIEJOWE
0,1,Brass: Birmingham,"ekonomiczna, strategiczna",250,150,2,4,14,0
1,2,Star Wars: Rebelia,"strategiczna, science-fiction",390,210,2,4,14,0
2,3,Wojna o Pierścień: Druga edycja,"przygodowa, fantasy",330,150,2,4,13,0
3,4,Zaginiona Wyspa Arnak,"przygodowa, eksploracyjna",150,90,1,4,12,0
4,5,Zamki Burgundii: BIG BOX,strategiczna,140,60,2,4,12,0
...,...,...,...,...,...,...,...,...,...
95,96,Eurobusiness,"ekonomiczna, rywalizacyjna",30,90,2,5,14,0
96,97,Boop,"logiczna, rywalizacyjna",160,20,2,2,10,0
97,98,Mordercze krewetki,"karciane, towarzyskie",80,10,2,6,7,0
98,99,The binding of Isaac: Four souls,"przygodowa, karciana",190,45,2,4,13,0
99,100,Kuchenny poker,familijna,60,60,2,5,10,0

In [7]:
def ludzie(mi, ki, mn, kn, ul, pk= 0.516, N=7349 ):
    """
    Funkcja do generowania ludności z Jaworza
    pk = 0.516 - procent kobiet w społeczeństwie
    N = 7349 - (w miarę) aktualny stan ludności w tej urokliwej wsi
    
    """
    
    imie = []
    nazwisko = []
    wiek = []
    adres = []
    tel = []
    
    for n in range(N):
        
        p = random.random()
        
        if p < pk: ##losujemy kobietę
            imie.append(random.choice(ki).title()) ##title z AAAA robi Aaaa (a taką formę imion mamy)
            nazwisko.append(random.choice(kn).title())
        
        else: #losujemy mężczyznę
            imie.append(random.choice(mi).title())
            nazwisko.append(random.choice(mn).title())
        
        p = random.random()
        
        if p < 0.575: ##dane statystyczne - 57.5% osób jest w wieku produkcyjnym
            wiek.append(random.randint(18,60))
        elif p < 0.77:
            wiek.append(random.randint(8, 18)) ##19.4% w przedprodukcyjnym
        else:
            wiek.append(random.randint(60,99)) ##reszta starsza
            
            
        p = random.random()   
        if p< 0.90:
            adres.append(random.choice(ul) + ' ' + str(random.randint(1,100)))
            
            p = random.random()
            if p< 0.90:
                tel.append(random.randint(500000000, 999999999))
            else:
                tel.append("NULL")
                
        else:
            adres.append("NULL")
            tel.append(random.randint(500000000, 999999999))
        
        
            
    
    return pd.DataFrame({"id_mieszkańca": range(1,N+1), "imię": imie, "nazwisko": nazwisko, 
                         "wiek": wiek, "adres": adres, "telefon": tel})

In [8]:
def transform_wiek(wiek): 
    """
    Funkcja zwracająca częstość z jaką dana osoba na podstawie wieku mogłaby nas odwiedzać. 
    Im większa wartość tym większe prawdopodobieństwo wizyty.
    
    """
    
    if wiek < 10:
        return 1
    elif wiek < 12:
        return 2
    elif wiek < 16:
        return 3
    elif wiek < 20:
        return 5
    elif wiek < 30:
        return 6
    elif wiek < 38:
        return 5
    elif wiek < 45:
        return 4
    elif wiek < 55:
        return 3
    elif wiek < 70:
        return 2
    else:
        return 1

In [9]:
def inven(n = 100):
    """
    Funkcja tworząca prosty magazyn (wynajem/sklep). Zwraca ile gier o danym tytule (id_tytułu) jest u nas dostępna na półce.
    n = 100 - bo tyle różnych gier (i takich id) mamy w asortymencie
    """
    
    ilosc = np.random.randint(20, 30, n) ## od 20 do 30 każdego z tytułów
    ids = range(1, (n+1))
    ilosci = [ids[x] for x in range(len(ids)) for i in range(ilosc[x])]
    
    return pd.DataFrame({"id_inv": range(1, (len(ilosci)+1)),"id_tytuł": ilosci })

In [10]:
ludzie(im, ik, nm, nk, ulice_jaworze)

      id_mieszkańca       imię    nazwisko  wiek           adres    telefon
0                 1  Andżelika    Makowska    33       Bukowa 80  992288962
1                 2     Witold       Szulc    52      Klonowa 32  738291622
2                 3  Mirosława    Piasecka    16      Miodowa 51  944506568
3                 4  Tymoteusz        Duda    46  Za Goruszką 75  751189222
4                 5      Eliza  Czajkowska    12     Słowicza 90  774530496
...             ...        ...         ...   ...             ...        ...
7344           7345    Daniela   Kucharska    23   Kaczeńcowa 23  931145532
7345           7346      Zofia   Jabłońska    57            NULL  759739946
7346           7347    Oliwier    Jasiński    68   Południowa 50  804532487
7347           7348    Tobiasz     Sobczak    46     Kalinowa 93  694926043
7348           7349      Rafał    Urbański    95            NULL  759361823

[7349 rows x 6 columns]

In [11]:
def odwiedziny(start = datetime.datetime(2022, 6, 6, 9, 0, 0), lamb = 4):
    """
    Funkcja symulująca odwiedziny w naszym sklepie - sprzedaże, wynajmy, a także zakup w outlecie. 
    Zwraca godziny wizyt, mieszkańców, co kupili/ wynajęli.
    start - dzień startowy naszego przedsiębiorstwa, niech to będzie 6 czerwca 2022, 9:00
    lamb - lambda - parametr potrzebny do generowania procesu Poissona - zakładamy 4 klientów na godzinę w naszym sklepie
   
    """
    
    mieszkancy = ludzie(im, ik, nm, nk, ulice_jaworze) #baza mieszkańców, którzy mogą nas odwiedzić
    T = 239/30 #7h 58 min bo tyle nasz sklep jest otwarty (z małym buforem, żeby nikt nie kupił czegoś po 1 s od otwarcia)
    
    now = datetime.datetime.now()
    days = (now - start).days ##żeby te daty były do dzisiaj
    
    
    inv_ren = inven() ##startowy magazyn wynajmu
    inv_shop = inven() ##startowy magazyn sklepu
    pp = [transform_wiek(mieszkancy["wiek"][x]) for x in range(len(mieszkancy))] ##wagi dla mieszkancow do losowania
    
    df = pd.DataFrame({}) ##podstawowa tabela, do której dodawane będą wizyty
    rental =  pd.DataFrame({"id_inv": [], "return_date": [], "zniszczona": []}) ##tabela pomocnicza dla inv rentalowego
    kupno =  pd.DataFrame({"id_inv": [], "kupno": [], "wizyta":[]}) ##dla kupna
    outlet = pd.DataFrame({"id_inv": [], "id_gry": [], "return_date": []}) ##dla outletu 
    arch_outlet =  pd.DataFrame({"id_inv": [], "date": []})
    
    swieta = [datetime.datetime(2023, 1, 6, 9, 0, 0), datetime.datetime(2023, 4, 9, 9, 0, 0), 
              datetime.datetime(2023, 4, 10, 9, 0, 0), datetime.datetime(2023, 3, 1, 9, 0, 0), 
              datetime.datetime(2023, 3, 3, 9, 0, 0), datetime.datetime(2023, 6, 8, 9, 0, 0), 
              datetime.datetime(2022, 6, 16, 9, 0, 0), datetime.datetime(2022, 8, 15, 9, 0, 0),
              datetime.datetime(2022, 11, 1, 9, 0, 0), datetime.datetime(2022, 11, 11, 9, 0, 0),
              datetime.datetime(2022, 12, 25, 9, 0, 0), datetime.datetime(2022, 12, 26, 9, 0, 0),]
    dd = [(s - start).days + 1 for s in swieta] ##dni jakie minęły od startu do święta (żeby móc je ominąć łatwo)
    
    exp = np.ceil(np.random.exponential(1, 150)) ##z tego będą losowane ilości gier kupionych/wynajętych
    
    for d in range(1, days + 1):
        
        if d%6 == 0 or d%7 == 0 or (d in dd): ## wyłączenie weekendów oraz świąt
            pass
        
        else:
            ##odwiedziny zgodne z procesem poissona
            N = np.random.poisson(T*lamb) ##ilość osób na cały dzień
            ts = sorted(T*np.random.uniform(0,1, N)) ##czasy wizyt (takie surowe)
            t_wizyty = [(start + datetime.timedelta(minutes=1) + datetime.timedelta(
                minutes=round(t*60,1))) for t in ts] #.strftime("%m/%d/%Y %H:%M:%S") for t in ts]
            ##formatka wizyt
            
            for t in t_wizyty:
                ##losowanie klientów z populacji mieszkańców
                klient = random.choices(mieszkancy["id_mieszkańca"], weights=pp , k=1)
            
                #losowanie sprzedawcy (zakładamy, że sprzedawca 1 i 2 obsługują kasy przez te 8 h)
                sprzedawca = random.choices([1,2], k=1)
            
                ##ktoś może chce kupić kilka gier zamiast jednej
                ilosc = random.choices(exp, k = 1)
            
                ##ktoś przychodzi z zamiarem kupna/wynajmu bądź skorzystania z outletu (jeśli może)
                ##ilość dostępnych gier w outlecie musi wynosić min tyle ile ktoś chce tych gier zakupić
                
                if len(outlet[outlet["return_date"] < start]) >= ilosc[0]: 
                    rodzaj = random.choices(["wynajem", "kupno", "outlet"], weights = [10, 10, 2], k = 1)
                    ##ustalamy prawdopodobieństwa skorzystania z outletu na 2:10:10 względem zwykłego kupna i wynajmu
                else:
                    rodzaj = random.choices(["wynajem", "kupno"], k = 1)
                    #jeśli outlet jest za słabo wyposażony zostaje tylko opcja wynajmu / kupna z wagami 1:1
                
                if rodzaj == ["wynajem"]:
                    
                    ##losuje zwrot za 1 lub 2 dni w godzinach otwarcia, bo zakładamy, że tyle mają czasu na zwrot
                    return_date = start + datetime.timedelta(days=random.randint(1,2)) + datetime.timedelta(
                        hours=round(random.uniform(1,T), 2))
                    
                    ##losuje id_gry, które ktoś wypożycza
                    ##szukamy tych id które są dostępne, czyli NIE ma ich w df rental z returndate > dziś
                    
                    not_in_use = np.array(rental[rental["return_date"] > start]["id_inv"]) ##niedostępne
                    ids = np.array(inv_ren["id_inv"]) ##wszystkie
                    in_use = np.setdiff1d(ids, not_in_use) ##różnica między wszystkimi a tymi niedostępnymi
                    gra = random.sample(sorted(in_use), k = int(ilosc[0])) ##z tych dostepnych losowanie gry
                    
                    ##ewentualne zniszczenia zwróconej gry - prawdopodobieństwo ustalamy na 1/100
                    fault = random.choices([0,1], weights = [99,1], k = int(ilosc[0])) 
                    
                    ##wrzucenie informacji do tymczasowej tabeli rental
                    rent_gry =  pd.DataFrame({"id_inv": gra, "return_date": np.repeat(return_date, int(ilosc[0])), 
                                              "zniszczona": fault})
                    rental = pd.concat([rental, rent_gry])
                    
                    ## gra może zostać zniszczona, a więc może trafić do outletu
                    if sum(fault) > 0: ##czy były jakieś zniszczenia - jeśli tak to update outletu
                        
                        idd = rent_gry[rent_gry["zniszczona"] == 1]["id_inv"] ##te zniszczone id_inv
                        
                        for i in idd: ##dla każdej zniszczonej gry
                            ##znajdujemy id_tytułu (bo działaliśmy na inv)
                            id_tyt = inv_ren.loc[inv_ren['id_inv'] == i]["id_tytuł"] 
                
                            f = pd.DataFrame({"id_inv": i, "id_gry": id_tyt, "return_date": return_date})
                            outlet = pd.concat([outlet, f]) ## i dodajemy gre do outletu
                    
                elif rodzaj == ["kupno"]: 
                    ##to samo co z rentalem, tylko patrzymy na id gry, które ktoś kupił DZISIAJ 
                    ##bo zakładamy, że kupiona dzisiaj gra, dostępna będzie ponownie jutro
                    
                    return_date = None
                    not_in_use2 = np.array(kupno[kupno["kupno"] == start]["id_inv"])
                    ids2 = np.array(inv_shop["id_inv"])
                    in_use2 = np.setdiff1d(ids2, not_in_use2)
                    gra = random.sample(sorted(in_use2), k = int(ilosc[0]))
                
                    kup_gry =  pd.DataFrame({"id_inv": gra, "kupno": np.repeat(start, int(ilosc[0])),
                                             "wizyta": np.repeat(t, int(ilosc[0]))})
                    kupno = pd.concat([kupno, kup_gry])
                    
                else: ##outlet
                    
                    return_date = None
                    in_use = outlet[outlet["return_date"] < start] ##patrzymy na te już zwrócone i dostepne gry
                    gra = random.sample(sorted(in_use["id_inv"]), k = int(ilosc[0])) ##losowanie z dostepnego outletu
                    ##id_inv odnoszą się na razie do magazynu wynajmu, ale później odnosić się będą do swojego id
                    ##to w formatce tabel
                    
                    for g in gra:
                        outlet = outlet.drop(outlet.index[outlet["id_inv"] == g])
                        ##usuwanie z outletu kupionych pozycji
                        arch = pd.DataFrame({"id_inv": g, "date": t}, index=[0])
                        arch_outlet = pd.concat([arch_outlet, arch])
                        
                ##dołączenie danego klienta do df z poprzednich dni
                day = pd.DataFrame({"id_mieszkańca": klient, "wizyta": t,
                                "sprzedawca": sprzedawca, "ilosc": int(ilosc[0]), "id_gry": str(gra)[1:-1], "rodzaj": rodzaj,
                                   "return_date": return_date})
                df = pd.concat([df, day])
            
        ##przejście z datą na kolejny dzień
        start = start + datetime.timedelta(days=1)
        
    return df, rental, kupno, outlet, inv_ren, inv_shop, mieszkancy, arch_outlet

In [12]:
def format_tabel(wizyty, gry = gry):
    """
    Funkcja służąca do formatowania otrzymanych wyników z funkcji odwiedziny() w taki sposób, żeby zwracała
    gotowe tabele, które trafią do bazy danych.
    wizyty - wynik z funkcji odwiedziny()
    gry - tabela z grami naszego wykonania
    
    """
    tabela_g = wizyty[0] ##tabela główna
    rental_arch = wizyty[1] ##archiwum wynajmu
    shop_arch = wizyty[2] ##archiwum sprzedaży
    outlet_akt = wizyty[3] ##aktualny outlet
    rent_inv = wizyty[4] ##inventory rental
    shop_inv = wizyty[5] ##inventory shop
    mieszkancy = wizyty[6] ##cała społeczność
    outlet_arch = wizyty[7] ## archiwum outletu
    
    tabela_g = tabela_g.rename(columns = {"sprzedawca":"id_pracownika"})
    ## ------------- TABELA KLIENCI -------------
    
    #szukamy unikatowych osób, które pojawiły się u nas w sklepie i ich ostatnią wizytę
    klient = tabela_g.drop_duplicates(subset=['id_mieszkańca'], keep="last")[["id_mieszkańca", "wizyta"]]
    klienci = pd.merge(klient, mieszkancy, how = "inner", on = ["id_mieszkańca"]) ##dopasowanie względem id_mieszkanca
    klienci["id_klienta"] = range(1, len(klienci) + 1) ##stworzenie id klienta
    
    klienci_mieszkancy = klienci[["id_klienta", "id_mieszkańca"]] ##tabela pomocnicza z id klienta dopasowanymi do mieszkańca
    
    klienci = klienci[["id_klienta", "wizyta", "imię", "nazwisko", "wiek", "adres", "telefon"]] #końcowa tabela klientów
    
    ## ---------------- TABELA SPICHLERZ_WYNAJEM ---------------
    ceny = gry[["ID","CENA"]]
    ceny = ceny.rename(columns = {"ID": "id_tytuł", "CENA": "cena"}) ##tymczasowa tabela z cenami
    ceny["cena_wynajem"] = np.round(0.15*ceny["cena"], 2 ) ###bo ustalamy, że cena wynajmu gry kosztuje 15% jej ceny rynkowej
    
    one = pd.merge(rent_inv, ceny, on="id_tytuł") ##krok pierwszy - połączenie wynajmu z cenami najmu
    ids = np.array(rental_arch["id_inv"])
    rental_arch["id_inv"] = [int(i) for i in ids]  ##po random sample zostały float jako typ id, więc wracam na int
    two = rental_arch.drop_duplicates(subset=['id_inv'], keep='last') ##biorę pod uwagę tylko ostatnie wypożyczenie danej gry
    
    spichlerz_wynajem = pd.merge(one,
                             two[["id_inv","return_date"]], 
                             on=["id_inv"], how="left").rename(columns = 
                                                               {"id_inv": "id_spichlerz_wynajem", "id_tytuł": "id_gry", "return_date": "ostatni_update"})
    ##i ostateczna tabela:
    spichlerz_wynajem = spichlerz_wynajem[["id_spichlerz_wynajem", "id_gry", "cena_wynajem", "ostatni_update"]]
    
    ## ------------------- TABELA SPICHLERZ_SKLEP ---------------
    
    ceny["cena_kupno"] = np.round(1.1*ceny["cena"], 2 ) ###bo ustalamy marżę 10% na zakupie
    raz = pd.merge(shop_inv, ceny, on="id_tytuł")[["id_tytuł", "cena_kupno", "id_inv"]] ##znowu pierwsze merge z cenami
    
    ids2 = np.array(shop_arch["id_inv"])
    shop_arch["id_inv"] = [int(i) for i in ids2] ##znowu zmiana na int
    shop_arch["kupno"] = [d + datetime.timedelta(days=1) for d in shop_arch["kupno"]] ## bo gra jest dostepna 1 dzień po zakupie
    dwa = shop_arch.drop_duplicates(subset=['id_inv'], keep='last') ##znowu patrzymy na ostatnie zakupy
    spichlerz_sklep = pd.merge(raz,
                             dwa[["id_inv","kupno"]], 
                             on=["id_inv"], how="left").rename(columns = 
                                                               {"id_inv": "id_spichlerz_sklep", "id_tytuł": "id_gry", "kupno": "ostatni_update"})
    spichlerz_sklep = spichlerz_sklep[["id_spichlerz_sklep", "id_gry", "cena_kupno", "ostatni_update"]] ##ostatnia formatka
    
    ## ---------------- TABELA WYNAJEM ---------
    sub = pd.merge(rental_arch, tabela_g, on = ["return_date"])[["id_inv", "wizyta", "return_date", "zniszczona", "id_mieszkańca", "id_pracownika"]]
    ##łączymy archiwum z główną tabelą - mamy teraz więcej informacji i dodajemy id klienta
    wynajemt = pd.merge(sub, klienci_mieszkancy, how = "left", on = ["id_mieszkańca"]).rename(columns={"id_inv":"id_spichlerz_wynajem"})
    ## i merge tabeli tymczasowej ze spichlerzem, żeby uzyskać cenę
    wynajem = pd.merge(wynajemt, spichlerz_wynajem[["id_spichlerz_wynajem","cena_wynajem"]], on=["id_spichlerz_wynajem"], how="left")
    ##i ostateczna forma tabeli:
    wynajem =  wynajem.sort_values(by = "wizyta", inplace=False, ascending=True) ##sort po datach
    wynajem = wynajem.rename(columns = {"wizyta": "data_wynajmu", "return_date": "data_zwrotu"}) ##szybki rename
    wynajem["id_transakcji_wynajem"] = range(1, len(wynajem) + 1) ##dodanie id_transakcji
    wynajem = wynajem[["id_transakcji_wynajem", "id_spichlerz_wynajem", "data_wynajmu", "data_zwrotu", "id_pracownika", "id_klienta", "zniszczona"]]
    
    ## ----------- TABELA SKLEP --------------------
    
    shop_arch['wizyta'] = pd.to_datetime(shop_arch['wizyta']) ##merge z tabelą główną
    sklept = pd.merge(shop_arch, tabela_g, on="wizyta", how="left")[["id_inv", "wizyta", "id_mieszkańca", "id_pracownika"]]
    sklep = pd.merge(sklept, klienci_mieszkancy, how="left", on = ["id_mieszkańca"]).rename(columns = {"id_inv": "id_spichlerz_sklep"})
    sklep["id_transakcji_sklep"] = range(1, len(sklep) + 1)
    sklep = sklep[["id_transakcji_sklep", "id_spichlerz_sklep", "wizyta", "id_klienta", "id_pracownika"]]
    
    
    ## -------------- TABELA OUTLET ----------------
    
    outlet_arch['date'] = pd.to_datetime(outlet_arch['date'])
    ids = outlet_arch["id_inv"]
    outlet_arch["id_inv"] = [int(i) for i in ids]
    outlet_arch = outlet_arch.rename(columns = {"id_inv":"id_spichlerz_wynajem", "date":"wizyta"})
    out = pd.merge(outlet_arch, tabela_g, on="wizyta", how="left")[["id_spichlerz_wynajem", "wizyta", "id_mieszkańca", "id_pracownika"]]
    out2 = pd.merge(out, spichlerz_wynajem[["id_spichlerz_wynajem", "id_gry", "cena_wynajem"]], on="id_spichlerz_wynajem", how="left")
    out2["cena_wynajem"] = [3* c for c in out2["cena_wynajem"]] 
    ##bo ustalamy 45% czyli 3* cenę najmu jako cenę kupna outletowej gry
    outlett = pd.merge(out2, klienci_mieszkancy, how="left", on = ["id_mieszkańca"])
    outlett["id_transakcji_outlet"] = range(1, len(outlett) + 1)
    outlet = outlett[["id_transakcji_outlet", "id_spichlerz_wynajem", "id_gry", "wizyta", "id_klienta", "id_pracownika"]]
    
    return klienci, spichlerz_wynajem, spichlerz_sklep, wynajem, sklep, outlet

In [13]:
tt = odwiedziny()

In [14]:
tab = format_tabel(tt)
klienci = tab[0]
spichlerz_wynajem = tab[1]
spichlerz_sklep = tab[2]
wynajem = tab[3]
sklep = tab[4]
outlet = tab[5]

In [59]:
def turniej(gracze,sedzia,gry = gry):
    start = datetime.datetime(2022, 6, 9, 18, 0, 0)
    now = datetime.datetime.now()
    days = (now - start).days ##żeby te daty były do dzisiaj
    two_weeks = datetime.timedelta(weeks = 2)

    date_tournament = np.array([start])
    while date_tournament[-1]<now:
        next_tournament = date_tournament[-1]+two_weeks
        date_tournament = np.append(date_tournament,next_tournament)

    swieta = [datetime.datetime(2023, 1, 6, 18, 0, 0), datetime.datetime(2023, 4, 18, 9, 0, 0), 
              datetime.datetime(2023, 4, 10, 18, 0, 0), datetime.datetime(2023, 3, 1, 18, 0, 0), 
              datetime.datetime(2023, 3, 3, 18, 0, 0), datetime.datetime(2023, 6, 8, 18, 0, 0), 
              datetime.datetime(2022, 6, 16, 18, 0, 0), datetime.datetime(2022, 8, 15, 18, 0, 0),
              datetime.datetime(2022, 11, 1, 18, 0, 0), datetime.datetime(2022, 11, 11, 18, 0, 0),
              datetime.datetime(2022, 12, 25, 18, 0, 0), datetime.datetime(2022, 12, 26, 18, 0, 0),]

    date_tournament = np.delete(date_tournament,np.isin(date_tournament,swieta))
### turniej
    gra_tournament = gry[gry['TURNIEJOWE'] == 1]
    id_turniej = [i for i in range(1,len(gra_tournament)+1)]
    # zakładam, iz czsas dodatkowy to 0.3 czas podstawowego plus 5 minut przerwy między zmianami
    amount = np.floor(240/(np.array(gra_tournament[['CZAS_GRY']])+np.array(gra_tournament[['CZAS_GRY']])*0.3))*2
    amount = amount.transpose()
    mean_point = np.array([110,50,350])
    #mean_point = mean_point.transpose()
    turniej = pd.DataFrame({'id_turnieju':id_turniej,'id_gry':gra_tournament['ID'],'średnia_punktów' : mean_point, 'ilosc_gier' : amount[0]})
# rozgrywka
    id_rozgrywki = [i for i in range(1,len(date_tournament)+1)]
    kind_tournament = random.choices(np.array(id_turniej),k=len(date_tournament))
    date_date = [dt.date() for dt in date_tournament]
    rozgrywka = pd.DataFrame({'id_rozgrywki':id_rozgrywki, 'id_turniej':kind_tournament,'data':date_date})
# wyniki
    id_rozgrywekk = np.array([])
    id_klientas = np.array([])
    wyniki = np.array([])
    czas_rozrywki = np.array([])
    for _ in range(len(date_tournament)):

        kt = kind_tournament[_]
        ig = turniej[turniej['id_turnieju']==kt]['id_gry'].iloc[0]
        il = np.array(gry[gry['ID']==ig][['MIN_GRACZY','MAX_GRACZY']])
        il_max = il[0][1]
        #n = sum([random.randint(il[0][0],il[0][1]) for i in range(int(turniej[turniej['id_turnieju']==kt][['ilosc_gier']].iloc[0]))])
        #n = int(il[0][1]*turniej[turniej['id_turnieju']==kt]['ilosc_gier'].iloc[0])
        n = int(turniej[turniej['id_turnieju']==kt]['ilosc_gier'].iloc[0]/2)

        for n_ in range(n):

            id_rozgrywki_s = np.round(np.array([id_rozgrywki[_]]*(2*il_max)),0)
            id_rozgrywekk = np.append(id_rozgrywekk,id_rozgrywki_s)

            id_klienta = random.choices(np.array(gracze['id_klienta']),k = il_max*2)
            id_klientas = np.append(id_klientas,id_klienta)

            wynik = [turniej[turniej['id_turnieju']==kt]['średnia_punktów'].iloc[0]]*il_max*2 + np.random.normal(scale=turniej[turniej['id_turnieju']==kt]['średnia_punktów'].iloc[0]*0.15,size=il_max*2)
            wyniki = np.append(wyniki,wynik)

            czas_1 = np.round([gra_tournament[gra_tournament['ID']==ig]['CZAS_GRY'].iloc[0]*il_max + np.random.normal(scale=10)]*il_max,0)
            czas_2 = np.round([gra_tournament[gra_tournament['ID']==ig]['CZAS_GRY'].iloc[0]*il_max + np.random.normal(scale=10)]*il_max,0)

            czas = np.append(czas_1,czas_2)
            czas_rozrywki = np.append(czas_rozrywki,czas)

    print(len(id_rozgrywekk),len(id_klientas),len(wyniki),len(czas_rozrywki))
    df_wynik = pd.DataFrame({'id_rozgrywki':id_rozgrywekk.astype(int),'id_klienta':id_klientas.astype(int),'wynik':np.ceil(wyniki).astype(int),'czas_rozgrywki':czas_rozrywki})    
    return turniej, rozgrywka, df_wynik

In [60]:
n, m,p = turniej(klienci,0)

1064 1064 1064 1064

In [61]:
p

      id_rozgrywki  id_klienta  wynik  czas_rozgrywki
0                1        1227    331           370.0
1                1        4055    369           370.0
2                1        1334    288           370.0
3                1        1865    419           370.0
4                1        4180    383           356.0
...            ...         ...    ...             ...
1059            28          46    322           360.0
1060            28        2910    311           364.0
1061            28        4129    303           364.0
1062            28        3662    406           364.0
1063            28        2561    369           364.0

[1064 rows x 4 columns]

In [15]:
outlet ##nie wiem czy zostawiać tu id inventorowe czy id gry

,id_transakcji_outlet,id_spichlerz_wynajem,id_gry,wizyta,id_klienta,id_pracownika
0,1,1136,47,2022-06-10 12:07:30,4482,2
1,2,1200,50,2022-06-24 12:13:36,112,1
2,3,2393,97,2022-07-02 10:14:24,1198,2
3,4,425,17,2022-07-09 10:40:30,622,1
4,5,2333,95,2022-07-15 10:12:42,251,1
5,6,365,15,2022-07-19 10:17:54,3779,2
6,7,1269,52,2022-07-30 11:18:48,3879,1
7,8,2013,81,2022-07-30 14:41:24,373,1
8,9,1976,80,2022-08-06 09:52:12,4273,2
9,10,1484,60,2022-08-09 16:11:24,1905,2
10,11,2109,85,2022-08-17 12:43:24,947,2
11,12,190,8,2022-08-23 11:01:48,528,2
12,13,964,40,2022-08-27 10:53:48,4361,2
13,14,138,6,2022-08-29 10:05:48,844,1
14,15,1564,63,2022-09-12 13:52:54,680,1
15,16,1146,47,2022-09-20 09:55:30,4287,1
16,17,1477,60,2022-09-26 14:49:30,2554,2
17,18,797,33,2022-10-07 11:10:24,3096,1
18,19,1406,57,2022-10-14 15:00:24,965,2
19,20,634,26,2022-10-17 10:21:24,3901,1
20,21,406,16,2022-10-17 10:21:24,3901,1
21,22,240,10,2022-11-12 15:49:18,1233,2
22,23,2116,86,2022-11-18 10:02:00,1287,2
23,24,973,40,2022-11-21 16:02:30,4502,1
24,25,2221,90,2022-11-22 16:38:18,4490,1
25,26,874,36,2022-11-23 14:20:06,1357,2
26,27,1914,77,2022-11-25 11:09:12,2497,1
27,28,2320,94,2022-12-03 09:31:06,1455,2
28,29,2014,81,2022-12-12 16:09:00,1554,1
29,30,2029,82,2022-12-27 13:21:18,3476,2
30,31,499,20,2023-01-14 13:01:48,3865,2
31,32,1791,72,2023-01-26 12:49:30,2091,1
32,33,458,19,2023-02-07 09:01:30,2231,1
33,34,1231,51,2023-02-10 10:30:54,2293,2
34,35,201,8,2023-02-13 09:19:12,4052,2
35,36,1146,47,2023-02-15 10:56:30,2366,2
36,37,2104,85,2023-03-06 11:54:42,3867,2
37,38,1039,43,2023-03-27 15:18:12,2900,1
38,39,392,16,2023-04-04 13:17:00,3036,2
39,40,1493,61,2023-04-12 13:25:54,3155,1
40,41,1517,62,2023-04-22 10:14:24,3318,2
41,42,1277,52,2023-04-24 09:17:30,3341,2
42,43,8,1,2023-05-02 10:49:48,3493,2
43,44,2151,87,2023-05-02 10:49:48,3493,2
44,45,155,6,2023-05-18 10:55:00,3820,2
45,46,1398,57,2023-05-20 10:09:00,3849,2
46,47,185,8,2023-06-07 12:22:42,4181,1

In [16]:
tt[0][tt[0]["rodzaj"] == "outlet"]

,id_mieszkańca,wizyta,sprzedawca,ilosc,id_gry,rodzaj,return_date
0,6912,2022-06-10 12:07:30,2,1,1136.0,outlet,None
0,6155,2022-06-24 12:13:36,1,1,1200.0,outlet,None
0,1142,2022-07-02 10:14:24,2,1,2393.0,outlet,None
0,2808,2022-07-09 10:40:30,1,1,425.0,outlet,None
0,5307,2022-07-15 10:12:42,1,1,2333.0,outlet,None
0,6087,2022-07-19 10:17:54,2,1,365.0,outlet,None
0,4283,2022-07-30 11:18:48,1,1,1269.0,outlet,None
0,6029,2022-07-30 14:41:24,1,1,2013.0,outlet,None
0,3258,2022-08-06 09:52:12,2,1,1976.0,outlet,None
0,3479,2022-08-09 16:11:24,2,1,1484.0,outlet,None
0,5645,2022-08-17 12:43:24,2,1,2109.0,outlet,None
0,3824,2022-08-23 11:01:48,2,1,190.0,outlet,None
0,1743,2022-08-27 10:53:48,2,1,964.0,outlet,None
0,1932,2022-08-29 10:05:48,1,1,138.0,outlet,None
0,6439,2022-09-12 13:52:54,1,1,1564.0,outlet,None
0,3060,2022-09-20 09:55:30,1,1,1146.0,outlet,None
0,6287,2022-09-26 14:49:30,2,1,1477.0,outlet,None
0,1681,2022-10-07 11:10:24,1,1,797.0,outlet,None
0,6574,2022-10-14 15:00:24,2,1,1406.0,outlet,None
0,3175,2022-10-17 10:21:24,1,2,"634.0, 406.0",outlet,None
0,5902,2022-11-12 15:49:18,2,1,240.0,outlet,None
0,2104,2022-11-18 10:02:00,2,1,2116.0,outlet,None
0,712,2022-11-21 16:02:30,1,1,973.0,outlet,None
0,2300,2022-11-22 16:38:18,1,1,2221.0,outlet,None
0,2831,2022-11-23 14:20:06,2,1,874.0,outlet,None
0,725,2022-11-25 11:09:12,1,1,1914.0,outlet,None
0,6979,2022-12-03 09:31:06,2,1,2320.0,outlet,None
0,4404,2022-12-12 16:09:00,1,1,2014.0,outlet,None
0,1520,2022-12-27 13:21:18,2,1,2029.0,outlet,None
0,2310,2023-01-14 13:01:48,2,1,499.0,outlet,None
0,6965,2023-01-26 12:49:30,1,1,1791.0,outlet,None
0,789,2023-02-07 09:01:30,1,1,458.0,outlet,None
0,3251,2023-02-10 10:30:54,2,1,1231.0,outlet,None
0,2343,2023-02-13 09:19:12,2,1,201.0,outlet,None
0,3817,2023-02-15 10:56:30,2,1,1146.0,outlet,None
0,3668,2023-03-06 11:54:42,2,1,2104.0,outlet,None
0,5348,2023-03-27 15:18:12,1,1,1039.0,outlet,None
0,5939,2023-04-04 13:17:00,2,1,392.0,outlet,None
0,703,2023-04-12 13:25:54,1,1,1493.0,outlet,None
0,5109,2023-04-22 10:14:24,2,1,1517.0,outlet,None
0,5096,2023-04-24 09:17:30,2,1,1277.0,outlet,None
0,1545,2023-05-02 10:49:48,2,2,"8.0, 2151.0",outlet,None
0,2514,2023-05-18 10:55:00,2,1,155.0,outlet,None
0,4141,2023-05-20 10:09:00,2,1,1398.0,outlet,None
0,4720,2023-06-07 12:22:42,1,1,185.0,outlet,None

In [17]:
klienci

,id_klienta,wizyta,imię,nazwisko,wiek,adres,telefon
0,1,2022-06-06 09:09:42,Zbigniew,Zięba,75,Konwaliowa 22,970281948
1,2,2022-06-06 10:09:48,Piotr,Ciesielski,17,Światopełka 23,532832000
2,3,2022-06-06 10:20:24,Andżelika,Baran,41,Groszkowa 17,674372163
3,4,2022-06-06 10:53:48,Aldona,Pawlak,51,Morwowa 84,803468320
4,5,2022-06-06 11:08:12,Michał,Orłowski,21,NULL,900201890
...,...,...,...,...,...,...,...
4548,4549,2023-06-22 16:03:24,Zdzisława,Janik,47,Żurawinowa 57,623411165
4549,4550,2023-06-22 16:07:18,Matylda,Lis,49,NULL,737496986
4550,4551,2023-06-22 16:41:18,Nikodem,Olszewski,33,Pod Brzegiem 27,NULL
4551,4552,2023-06-22 16:44:42,Mariia,Kwiatkowska,33,Plac Kościelny 24,943202395
4552,4553,2023-06-22 16:54:24,Ludwik,Kowalczyk,46,Aksamitna 14,905153471

In [18]:
sklep

,id_transakcji_sklep,id_spichlerz_sklep,wizyta,id_klienta,id_pracownika
0,1,758,2022-06-06 09:09:42,1,2
1,2,1153,2022-06-06 09:09:42,1,2
2,3,1889,2022-06-06 10:09:48,2,2
3,4,2370,2022-06-06 10:09:48,2,2
4,5,2080,2022-06-06 10:20:24,3,1
...,...,...,...,...,...
6062,6063,1521,2023-06-22 15:52:54,4548,1
6063,6064,301,2023-06-22 16:41:18,4551,1
6064,6065,78,2023-06-22 16:41:18,4551,1
6065,6066,1351,2023-06-22 16:44:42,4552,2
6066,6067,1824,2023-06-22 16:44:42,4552,2

##  tabele sprzedawców

In [19]:
def payment(rola):
    if rola == "sprzedawca":
        return random.randint(3700, 4300)
    elif rola == "logistyk":
        return random.randint(5000, 6000)
    else:
        return random.randint(6000, 7000)

In [20]:
def sales(ul = ulice_jaworze):
    role = ["sprzedawca", "sprzedawca", "manager", "logistyk"]
    id_pracownika = [1,2,3,4]
    pay_s = payment("sprzedawca")
    pay_m = payment("manager")
    pay_l = payment("logistyk")
    pensje = [pay_s, pay_s, pay_m, pay_l]
    
    imiona = ["Misio", "Nati", "Alutka", "Fifol"]
    nazwiska = ["Bresiński", "Lach", "Myśliwiec", "Oszczepaliński"]
    wiek = [22, 22, 21, 21]
    r = random.sample(id_pracownika, k=4)
    
    adresy = [random.choice(ul) + ' ' + str(random.randint(1,100)) for _ in range(4)]
    telefony = [random.randint(500000000, 999999999) for _ in range(4)]
    
    one = pd.DataFrame({"id_pracownika" : r, "imię_pracownika" : imiona, 
                        "nazwisko_pracownika" : nazwiska, "wiek_pracownika": wiek,
                       "adres_pracownika" : adresy, "telefon_pracownika" : telefony})
    two = pd.DataFrame({"id_pracownika": id_pracownika, "rola": role, "pensja":pensje})
    
    pracownicy = pd.merge(one, two, on="id_pracownika")
    pracownicy = pracownicy.sort_values(by="id_pracownika")
    
    return pracownicy

In [21]:
pracownicy = sales()
pracownicy

,id_pracownika,imię_pracownika,nazwisko_pracownika,wiek_pracownika,adres_pracownika,telefon_pracownika,rola,pensja
3,1,Fifol,Oszczepaliński,21,Wiejska 74,743154450,sprzedawca,4099
1,2,Nati,Lach,22,Sielska 88,506642322,sprzedawca,4099
2,3,Alutka,Myśliwiec,21,Zdrowotna 94,586148092,manager,6144
0,4,Misio,Bresiński,22,Bażantów 88,523939995,logistyk,5751

In [22]:
from sqlalchemy import create_engine, inspect
from sqlalchemy import URL

url_object = URL.create(
    "mysql+pymysql",
    username="team26",
    password="******",  # tu wpisać hasło i go nie commitować bo gitguardian was zje
    host="giniewicz.it",
    database="team26",
)

engine = create_engine(url_object)#'mysql+pymysql://team26:te@mzg@giniewicz.it:3306/team26')

connection = engine.connect()

connection.close()

ModuleNotFoundError: No module named 'sqlalchemy'

In [ ]:
gry = gry.rename(columns={"ID":"id_gry", "NAZWA":"tytuł", "RODZAJ":"rodzaj", "CENA":"cena", "CZAS_GRY":"czas_gry", 
                         "MIN_GRACZY":"min_graczy", "MAX_GRACZY":"max_graczy", "MIN_WIEK":"min_wiek", "TURNIEJOWE":"turniejowe"})

In [ ]:
conn = engine.connect()
gry.to_sql("gry", engine, if_exists="replace", index = False)
pracownicy.to_sql("pracownicy", engine, if_exists="replace", index = False)
klienci.to_sql("klienci", engine, if_exists="replace", index=False)
outlet.to_sql("outlet", engine, if_exists="replace", index=False)
spichlerz_wynajem.to_sql("spichlerz_wynajem", engine, if_exists="replace", index=False)
wynajem.to_sql("wynajem", engine, if_exists="replace", index=False)
sklep.to_sql("sklep", engine, if_exists="replace", index=False)
spichlerz_sklep.to_sql("spichlerz_sklep", engine, if_exists="replace", index=False)
conn.close()